/* Removed unnecessary custom classes */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}



.card {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 20px;
  font-weight: 600;
}

.card-body {
  padding: 20px;
}

.status-buttons button {
  margin-right: 10px;
  font-size: 14px;
  border-radius: 4px;
}

.status-buttons button:disabled {
  background-color: #ccc;
}

/* Delete button */
.delete-btn {
  margin-top: 3px;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #ff4d4d; /* Soft red */
  color: white;
  border: 2px solid #ff4d4d; /* Border matching the background color */
  border-radius: 8px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out; /* Smooth transition */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.delete-btn:hover {
  background-color: #e60000; /* Darker red on hover */
  border-color: #e60000;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
}

.delete-btn:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 0 4px rgba(255, 77, 77, 0.5); /* Subtle focus ring */
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  font-size: 14px;
  margin-bottom: 5px;
}
